@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&family=Poppins:wght@500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    font-family: var(--font-family-2);
}
/* Variables */

:root{
    --color1 :#9e72c3;
    --color2 :#924dbf;
    --color3 :#7338a0;
    --color4 :#4a2574;
    --color5 :#0f0529;
    --poppins-fonts:'Poppins', sans-serif ;
    --font-family-2:'Playfair Display', serif ;
}



/* Batas */
.container{
    display: flex;
    margin-top: 20px;
    /* left: 0; */
    width: 100%;
    z-index: 100;
    justify-content: center;
}

 
header{
    width: 100%;
    max-width: 1440px;
    position: fixed;
    /* margin-left:2.5%; */
    z-index: 5;
}

.nav{
   display: flex;
   align-items: center;
   background-color: var(--color2);
   padding: 17px 20px;
   border-radius: 0.87rem;
   justify-content: space-between;
    /* margin-bottom: 5rem; */
}

/* Logo */
.logo {
    color: #00b4d8;
    font-size: 2.2rem;
    font-weight: 700;
    font-family: var(--font-family-2);
    text-decoration: none;
    margin-left: 2rem;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    background-color: #6930c3;
    border-radius: 0.27rem;
    /* box-shadow: 0.2rem 0.2rem #94908e; */
}   

/* Search Style */
.search {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-right: 200px;
    align-items: center;
}

.search-box, .icon-search {
    height: 2.4rem;
    background-color: white;
    border: none;
    padding-top: 0.27rem;
    padding-bottom: 0.27rem;
    padding-left: 0.27rem;
}

.icon-search{
    border-radius: 0.3rem 0 0 0.3rem;
    border-right: 1px solid #94908e;
}
.search-box{
    width: 27rem;
    border-radius: 0 0.3rem 0.3rem 0;
}

.filter {
  display: flex;
  justify-content: center;
}

.event-link {
    font-size: 1.23rem;
    font-family: var(--poppins-fonts);
    text-decoration: none;
    color: #00b4d8;
    margin-left: 4rem;
    padding: 0.3rem;
    background-color:#6930c3 ;
    border-radius: 0.27rem 0 0 0.27rem;
}  

.filter .icon-filter {
  background-color: #6930c3;
  padding-right: 0.3rem;
  border-radius: 0 0.27rem 0.27rem 0;
}




/* Navbar */
.nav-menu {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2.5rem;
    column-gap: 2.5rem;
}

.cart,.user {
    opacity: 0.7;
}


/* Main-Recomendation */
main h2 {
    margin-top: 9rem;
    margin-bottom: 2rem;
}

.container-slide{
    position: relative;
    height: 70vh;
  width: auto;
}

.slideContainer {
    width: 1080px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.4rem;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
  }
  .sliderBtn {
    position: absolute;
    background-color: rgb(105, 48, 195,0.5);
    border: none;
    color: white;
    padding: 1rem;
    top: calc(50% - 1rem - 27px);
    z-index: 999;
    font-family: Nunito;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
  }
  .sliderBtn:hover {
    background-color: rgba(48, 5, 50, 0.5);
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
  .slide {
    display: none;
  }
  .show {
    display: block;
    animation: fadein 1s ease-in-out 0s 1 normal forwards;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .slide p {
    padding: 1rem 0;
    color: black;
    text-align: center;
    font-family: var(--poppins-fonts);
    font-weight: 600;
  }
  .slide img {
    max-width: 100%;
    border-radius: 0.4rem 0.4rem 0 0;
    display: block;
    margin: auto;
    width: 100%;
    height: 500px;
  }
  @media screen and (max-width: 722px) {
    #slideContainer {
      width: 100%;
    }
    .sliderBtn {
      padding: 0.5rem;
      font-size: 1rem;
    }
    .slide p {
      padding: 0.5rem 0;
    }
  }



