/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    font-family: var(--font-family-2);
}
/* Variables */
:root{
    --main-color:#54372a;
    --second-color:#df582e;
    --text-color:#060413;
    --container-color:#f8e4be;
    --bg-color:#f9f6f2;
    --text-alter-color:#94908e;
    --poppins-fonts:'Poppins', sans-serif ;
    --font-family-2:'Playfair Display', serif ;
}

/* Batas */
header{
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 100;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

.nav{
    display: flex;
    align-items: center;
    background-color: var(--container-color);
    padding: 17px 20px;
    border-radius: 0.87rem;
    justify-content: space-between;
}
 

/* Logo */
.logo {
    color: var(--text-color);
    font-size: 2.2rem;
    font-weight: 700;
    font-family: var(--font-family-2);
    text-decoration: none;
    margin-left: 2rem;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    background-color: var(--second-color);
    border-radius: 0.27rem;
    box-shadow: 0.2rem 0.2rem #94908e;
}   

/* Search Style */
.search {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-right: 200px;
    align-items: center;

}

.search-box, .icon-search {
    height: 2.4rem;
    background-color: white;
    border: none;
    padding-top: 0.27rem;
    padding-bottom: 0.27rem;
    padding-left: 0.27rem;
    box-shadow: 0.2rem 0.2rem #94908e;
}

.icon-search{
    border-radius: 0.3rem 0 0 0.3rem;
    border-right: 1px solid #94908e;
}
.search-box{
    width: 27rem;
    border-radius: 0 0.3rem 0.3rem 0;
}

.event-link {
    position: rel;
    font-size: 1.23rem;
    font-family: var(--poppins-fonts);
    text-decoration: none;
    color: var(--text-alter-color);
    margin-left: 4rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: aqua;
    box-shadow: 0.2rem 0.2rem #94908e;
    border-radius: 0.27rem;
}  



/* Navbar */
.nav-menu {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2.5rem;
    column-gap: 2.5rem;
}

.cart,.user {
    opacity: 0.7;
}


