@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&family=Poppins:wght@500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    font-family: var(--font-family-2);
}
/* Variables */

body{
    background-color: #e3f2fd;
}
:root{
    --poppins-fonts:'Poppins', sans-serif ;
    --font-family-2:'Playfair Display', serif ;
    --font-family3:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/* Batas */
.container{
    display: flex;
    width: 100%;
    justify-content: center; 
}

 
header{
    width: 100%;
    max-width: 1440px;
    position: fixed;
    
}

.nav{
   display: flex;
   align-items: center;
   background-color: #0d47a1;
   padding: 17px 20px;
   border-radius: 0.87rem;
   justify-content: space-between;
   margin-top: 20px;
}


/* Logo */
.logo {
    color: #e3f2fd;
    font-size: 2.2rem;
    font-weight: 700;
    font-family: var(--font-family-2);
    text-decoration: none;
    margin-left: 2rem;
    padding: 0.2rem;
    border-radius: 0.27rem;
} 

.logo:hover{
    color: white;
}

/* Search Style */
.search {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}


.search-box, .icon-search {
    height: 2.4rem;
    background-color: white;
    border: none;
    padding-top: 0.27rem;
    padding-bottom: 0.27rem;
    padding-left: 0.27rem;
}

.icon-search{
    border-radius: 0.3rem 0 0 0.3rem;
    border-right: 1px solid #94908e;
    display: flex;
}
.search-box{
    width: 27rem;
}
.search-box:focus{
    outline: none;
}
/* Filter Coba */

.cone-filter {   
    height: 2.4rem;

    display: flex;
}


.container-cone {
    position: relative;
    display: inline-block;
    
}

.container-cone img {
    background-color: white;
    border-radius: 0 0.3rem 0.3rem 0;

    border-left: 1px solid black;
}

.container-cone:hover .cone-content{
    display: block;
    animation: dropdownani 1.2s;
}

.cone-content {
    display: none;
    position: absolute;
    margin-left: -2.6rem; 
    background-color: #64B5F6;
    border-radius: 0.3rem;
}


.cone-content a {
    text-decoration: none;
    color: black;
    font-family: var(--poppins-fonts);
    padding-top: 30px;
}

.cone-content p{
    font-family: var(--poppins-fonts);
    cursor: default;
    margin-top: -20px;
}



/* Filter genre */
.filter {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 20px;
  background-color:#2196F3 ;
  border-radius: 0.3rem;
}



.event-link {
    font-size: 1.23rem;
    font-family: var(--poppins-fonts);
    text-decoration: none;
    color: #e3f2fd;
    padding-right: 0.4rem;
    text-align: center;
    margin-left: 5%;
}  


/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    padding: 0.4rem;
}

.dropdown:hover,.dropdown:hover .event-link {
    background-color: #64B5F6;
    color: black;
    border-radius: 0.3rem;
    animation: dropdownani 1.2s;

}

@keyframes dropdownani{
    0%{
        opacity: 0.3;
    }
    /* 50%{
        opacity: 0.8;
    } */
    100%{
        opacity: 1;
    }


}
.dropdown:hover .dropdown-content{
    display: block;
    border-radius: 0.3rem;
   animation: dropdownani .4s ;
}

.dropdown-content{
    display: none;   
    position: absolute;
    z-index: 1;
    background-color: #64B5F6;
    width: 5.1vw;
    margin-left: -0.4rem;
}

.dropdown-content p{
    padding-top: .2rem;
}

.dropdown-content a{
    text-decoration: none;
    color: black;
    text-align: center;

}

.dropdown-content a h3{
    font-family: var(--poppins-fonts);
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    text-align: center;
    border-bottom: 1px solid black; 
}

.dropdown-content h3:nth-child(1){
    border-top: 1px solid black;
}

.dropdown-content h3:nth-last-child(1){
    border-bottom: none;
}



/* Navbar */
.nav-menu {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2.5rem;
    column-gap: 2.5rem;
}


/* Main Topic */
main {
    width: 100%;
    max-width: 1440px;
}
.main{
    margin-top: 8rem;
    min-height: 650px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
}

.container-main{
    display: flex;
    justify-content: space-between;
}

.main-img img {
    width: 700px;
    height: 600px;
    object-fit: cover;
    border-radius: .87rem;
    box-shadow: 5px 5px 3px #505050;
}

.main-topic h1 {
    font-size: 3.5rem;
    font-weight: 800;
    color: #2196F3;
}

.main-topic h1 span{
    color: black;
}

.main-topic p {
    font-size: 0.94rem;
    font-family: var(--poppins-fonts);
    margin: 1rem 0 1.5rem;
}

/* Recomandation Items */

.recomend-text h2{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.recomend-text h2 {
    font-family: var(--font-family3);
    color: #1976D2;
}

/* Card */

.recomend-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.recomend-card{
    max-width: fit-content;
    border-radius: .6rem;
    background-color: white;
    box-shadow: 5px 5px 5px #505050;
    text-decoration: none;
    
}
.recomend-card .img {
    width: 420px;
    object-fit: cover;
    border-radius: .6rem 0.6rem 0 0;
}

.imgs{
    height: 300px;
}
.recomend-card:hover{
    box-shadow: 5px 5px 5px #bcbcbc; 
    background-color: rgb(227, 227, 227);
}

.recomend-card:active .detail-card .location p:nth-child(1),.price-status p:nth-child(1){
    color: black;
}

.location {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
}
.location p{
    display: flex;
    font-family: var(--poppins-fonts);
    
}

.status-available{
    color: rgb(0, 253, 0);
    margin-left: 5px;
}

.location p:nth-last-child(1){
    margin-right: 15px;
    color: black;
}

.location p:nth-child(2) img{
    margin-right: 5px;
}

.price-status p:nth-last-child(1){
    margin-right: 15px;
    color: rgb(0, 253, 0);
}
.detail-card h3 {
    font-family: var(--poppins-fonts);
    margin: 15px 0 15px 0;
    color: #42A5F5;
    text-align: center;
}


.price-status p:nth-child(1) {
    margin-left: 8px;
    font-family: sans-serif;
    margin-bottom: 10px;
    color: rgb(84, 84, 84);
    font-weight: 200;
}

.price-status p span{
    color: black;
    font-family: var(--font-family3);
    font-weight: bold;
}

.price-status p:nth-child(1){
    font-weight: bold;
}

.price-status {
    display: flex;
    justify-content: space-between;
}

/* Detail Page */
.konser-img {
    margin-top: -2rem;
}
.details h3{
    margin-top: 10px;
    margin-bottom: -20px;
    /* margin-left: 30px; */
    color: #42A5F5;
    font-family: var(--poppins-fonts);
}
.title-concert h1{
    font-size: 2.5rem;
    font-weight:700;
    font-family: var(--poppins-fonts);
    margin-top: 2rem;
}
.detail-container{
    display: flex;
    gap: 3rem;
}
.ul-detail {
    list-style-image: url(img/icon/bx-music.svg);
    margin: 2rem;
}

.li-detail{
    padding-left: 3px;
    font-family: var(--font-family3);
}

.li-detail span {
    color: #0066ff;
    font-family: var(--font-family3);  
}

.description h2{
    font-family: var(--poppins-fonts);
    font-size: 20px;
}

.description p {
    font-size: 15px;
    font-weight: 300;
    font-family:var(--font-family3);
}
.vanue-purches{
    display: flex;
    position: relative;
}

.vanue-purches img{
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin-top:  -2%;
    margin-left: 30%;
}

.ticket-info {
    position: absolute;
    margin-top: 15%;
    margin-left: 3rem;
    cursor: pointer;
}

/* Buy Now */

.ticket-box{
    display: absolute;
    margin-top: 100px;
    margin-left: 60px;
}

.ticket-box h2{
    width: auto;
    font-size: 1.2rem;
    font-family: var(--poppins-fonts);
    background-color:#2196F3 ;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
    margin-left: -20px;
}


.content-ticket{
    display: grid;
    position: absolute;
    margin-left: -20px;
    padding: 1rem;
    background-color: #2196F3;
    border-radius: 0 10px 10px;
}

.wrapper-ticket {
    margin-bottom: 5px;
    
}
.wrapper-ticket label{
    font-family: var(--font-family3);
    font-weight: bold;
}

.input-stock {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.input-stock h4{
    font-weight: 300;
    font-family: var(--poppins-fonts);
}

.ticket-box:hover .dropdown-ticket{
    display: block;
}


.ticket-box:hover h2 {
    border-radius: 10px 10px 0 0;
}

.dropdown-ticket {
    display: none;
    margin-top: -10px;
}

.order-link {
    background-color:#E3F2FD;
    text-align: center;
    padding-bottom: 3px;
    margin-top: 4px;
    text-decoration: none;
}

.order-link:visited{
    color: black;
}


/* Other Recomendation */


.other-con {
    gap:30px;
}

.other-text h2{
    margin-top: 70px;
}

.other-recomend {
    max-width: 300px;

}



.other-recomend .img{
    width: 300px;
    height: 200px;
}

.other-card h3{
    margin-top: -3px;
    text-align: center;
}

.other-location {
    display: block;
}

.other-location p:nth-child(1) {
    margin-bottom: 5px;
}

.other-status {
    color: rgb(84, 84, 84);
    font-family: sans-serif;
    margin-bottom: 10px;
}
.other-status{
    margin-left: 8px;
}

.other-status span{
    color: black ;
    font-weight: bold;
    font-family: var(--font-family3);
}

.other-2{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.other-3{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.view-more{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

.view-more h2{
    width: 200px;
    padding: 0.3rem 0 0.3rem 0;
    border: 3px solid #1976D2;
    text-align: center;
    color: black;
    border-radius: 0.6rem;
    font-family: sans-serif;
}

.view-more:hover h2{
    cursor: pointer;
    background-color: #1976D2;
    color: white;
}

.footer-container {
    background-color: #1976D2;
    margin-top: 100px;
    padding-top: 30px;
}


.logo-footer {
    color: #E3F2FD;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: var(--font-family-2);
    text-decoration: none;
    text-align: center;
} 

.logo-footer:hover{
    color: white;
}

.icon-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
    padding-bottom: 2rem;
}
.icon-container img:hover{
    opacity: 0.5;
    cursor: pointer;
}

.footer-info{
    display: flex;
    justify-content: center;
}

.footer-info ul{
    display: flex;
    gap: 40px;
}

.footer-info ul li h4{
    font-family: var(--poppins-fonts);
    font-weight:100;
    color: #E3F2FD;
}

.footer-info ul li h4:hover{
    cursor: pointer;
}

.footer-info ul li::marker{
    color:#E3F2FD ;
}

.footer-info ul li:nth-child(1){
    list-style-type: none;
}

.copy-right{
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 10px;
}

.copy-right h3{
    font-weight: 200;
    font-family: var(--font-family3);
}

/* Pemesanan */

.tes-container {
    margin-top: 170px;
}
.wrapper-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}


.form-order,.details-order,.img-event {
    width: fit-content;
    padding: 0.5rem;
}

.form-order{
    margin-left: 3%;
}

.img-event img{
    width:420px ;
    border-radius: 10px;
    height: 250px;
    object-fit: cover;
}


.detail-info{
    display: flex;
    align-items: center;
    margin-right: 3%;
    gap: 3rem;
    
}
.details-order h1{
    font-family: var(--poppins-fonts);
    color: #42A5F5;
}


.wrapper-order{
    border: 1px solid #90CAF9;
    border-radius: 10px;
    background-color: #BBDEFB;
}

.container-order {
    padding: 0 0.4rem 0 0.4rem;
    background-color: #1976D2;
    border-radius: 10px;
}

.form-order h3{
    font-family: var(--poppins-fonts);
    color: whitesmoke;
}

.order-ticket {
    display: flex;
    flex-direction: column;
    width: 300px;
}
/* edit pemesanan */
.order-ticket input{
    height: 30px;
    margin-bottom: 10px;
    border-radius: 0.4rem;
    text-align: center;
}

.order-ticket input:focus{
    outline: none;
}
.order-ticket input:focus::placeholder{
    color: transparent;
}

.order-ticket label{
    text-align: center;
    font-family: var(--font-family3);
}

.order-ticket input::placeholder,.submit-order{
    text-align: center;
    font-family: var(--font-family3);
   
}

.submit-order {
    margin-top: 10px;
    background-color: #64B5F6;
    border: none;
    font-weight: bold;
    color: whitesmoke;
}

.submit-order:hover{
    background-color: #2196F3;
}


/* metode pembayaran */
.wrapper-payment h3,.payment{
    text-align: center;
    font-family: var(--font-family3);
}

.select-payment option{
    width: 200px;
    height: 200px;
}

.container-payment {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.bank img {
    height: 100px;
    object-fit: cover;
    box-shadow: 5px 5px 5px #0D47A1;
    border-radius: 10px;
}

.bank img:hover{
    border: 1px solid #42A5F5;
    box-shadow: 5px 5px 5px #42A5F5;
}
 

/* back */
.details-back{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.back-to-detail{
    margin-left: 5%;
}

.back-to-detail a,.back-to-home a{
    text-decoration: none;
}

.back-to-detail a:visited h1,.back-to-home a:visited h1{
    color: whitesmoke;
}

.back-to-detail a h1,.back-to-home a h1 {
    font-weight: bold;
    font-size:1.26rem;
    background-color: #42A5F5;
    width: 12rem;
    text-align: center;
    font-family: var(--poppins-fonts);
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 10px;
}

.back-to-detail a h1:hover,.back-to-home a h1:hover{
    background-color: #1565C0;
    color: whitesmoke;
}


/* Plus Add */

.sign-in {
    text-decoration: none;
    background-color: #90CAF9;
    padding: 0.2rem;
    border-radius: 0.3rem;
    text-align: center;
    color: #e3f2fd;
    font-family: var(--poppins-fonts);
    font-size: 17px;
}
.sign-in-btn{
    background-color: #90CAF9;
    padding: 0.2rem;
    border-radius: 0.3rem;
    text-align: center;
    color: #e3f2fd;
    font-family: var(--poppins-fonts);
    font-size: 17px;

}


/* Login Layout */

